@import '../../../common/css/mixins.scss';
.platform-homes-footer{
    background-color: #070508;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;

    .bei{
        height: 70px;
        text-align: center;
        line-height: 70px;
        font-size: 14px;
        opacity: 0.5;
        color: #fff;
        background-color: #070508;
        margin-bottom: 0;

        .company{
            margin-right: 10px;
        }
    }
}