.join-platform-content{
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 140px;

  .BreadcrumbItem:hover{
    color: #4A6BFF;
  }

  .title{
    text-align: center;
    font-size: 24px;
    color: #333333;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: -10px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #4A6BFF;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px #c9d2fb solid;
    border-radius: 6px;
    padding:20px;
    margin-top: 40px;

    .left{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }

      .name{
        font-size: 30px;
        color: #333333;
      }

      .desc{
        margin-top: 30px;
        font-size: 16px;
      }

      .view{
        margin-top: 20px;
        font-size: 14px;
        color: #4A6BFF;
        user-select: none;
      }
    }

    .button{
      color: #4A6BFF;
      background-color: #fff;
      border-color: #4A6BFF;

      &:hover,&:visited{
        opacity: 0.6;
      }

      &:active{
        color: #fff;
        background-color: #4A6BFF;
        border-color: #4A6BFF;
      }
    }
  }

  .tables-data{
    padding: 30px 0;
  }
  .ant-table table,.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    text-align: center;
  }

  .ant-table-thead > tr > th:nth-of-type(1){
    min-width: 100px;
  }
  .ant-table-thead > tr > th:nth-of-type(4){
    min-width: 100px;
  }

  .ant-table-thead > tr > th:last-of-type{
   min-width: 170px;
  }
}