@import '../../../common/css/mixins.scss';
.homes-footer{
    background-color: #070508;

    .content{
        height: 340px;
        border-bottom: 1px #2e303e solid;
        @include flex(row, space-between, flex-start);
        overflow: hidden;

        .item{
            margin-top: 60px;
            // overflow: hidden;

            .title{
                font-size: 16px;
                color: #fff;
                margin-bottom: 0;
                position: relative;
                padding-bottom: 10px;
    
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: #fff;
                    width: 30px;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                }
            }

            .contact{
                color: #fff;
                opacity: 0.5;
                font-size: 14px;


                .wechat,.tel{
                    margin-top: 20px;
                }
            }

            &.address .img{
                width: 372px;
                height: 258px;
                display: inline-block;
            }
        }

        
    }

    .bei{
        height: 80px;
        text-align: center;
        line-height: 100px;
        font-size: 14px;
        opacity: 0.5;
        color: #fff;
        background-color: #070508;
        margin-bottom: 0;

        .company{
            margin-right: 10px;
        }
    }
}