@import '../../../../common/css/mixins.scss';

.platform-header{
  border-bottom: 1px #ececec solid;

  .header-content{
    background-color: #fff;
  }

  .bg{
    height: 248px;
    background-image: url("../../../../images/openbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slogen{
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 90px;
  }
  .top{
    padding-top: 10px;
    padding-bottom: 10px;
    @include flex;

    .header-nav{
      height: 100%;
      margin-bottom: 0;
      color: #fff;
      @include flex;

      .header-nav-item{
        margin-left: 25px;

        .link{
          color: #333333;
        }
        .link:hover{
          color: #4A6BFF;
        }
      }
    }
  }

  .logo{
    text-align: center;
    margin-top: 180px;
  }

  .platform{
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
    text-align: center;
  }
}
