.login-content{
  background-image: url("../../../../images/loginbg.png");
  height: auto;
  //background-image: #50567A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top:55px;
  bottom:80px;
  position: absolute;
  z-index: 1;
  width: 100%;

  .content{
    width: 400px;
    height: 460px;
    background-color: #fff;
    margin: 90px auto;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 40px 50px 0 50px;
    text-align: center;

    .InputNumber{
      width: 100%;
      height: 40px;
      padding: 4px 0px;
      padding-left: 68px;
    }

    .ant-input-number-input{
      padding-left: 0;
      padding-right: 0;
    }

    .title{
      font-size: 24px;
      color: #333333;
      text-align: center;
    }

    .qrcode_title{
      display: block;
      height: 50px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      font-family: "hiragino sans gb",simsun,stfangsong;
      color: grey;
    }

    .form-control{
      position: relative;
      height: 40px;
      margin-bottom: 20px;

      &:nth-of-type(3){
        margin-bottom: 6px;
      }

      .label{
        height: 38px;
        position: absolute;
        left: 1px;
        top: 1px;
        width: 60px;
        text-align: center;
        line-height: 40px;
        z-index: 10;
        background-color: #fff;
        color: #333;
        border-radius: 4px;

        &:after{
          content: "";
          display: block;
          position: absolute;
          top:50%;
          right:0;
          height: 15px;
          width: 1px;
          background-color: #d9d9d9;
          transform: translateY(-50%);
        }
      }

      .ant-input{
        height: 100%;
        padding-left: 68px;
      }

      .pwd{
        width: 230px;
        height: 40px;
      }
      .get{
        height: 40px;
        margin-left: 5px;
      }
    }
    .rule{
      color: #ff8502;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .button{
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #fff;
      background-color: #4a6bff;
    }

    .forgot-control{
      text-align: center;

      .forgot{
        text-decoration: underline;
        color: #4a6bff;
        cursor: pointer;
        user-select: none;
      }
    }
  }

  .warn{
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;
    background-color: #F1F1F1;
    padding: 2px 40px;
    border-radius: 40px;
    font-size: 12px;
    line-height: 1.5;
  }
}