.platform-content{
  background-color: #fff;
  padding: 130px 0 140px 0;

  .item{
    text-align: center;
    height: 330px;
    max-width: 330px;
    border-radius: 6px;
    border: 1px #c9d2fb solid;

    &:hover{
      background-color: #EBEFFF;
      border: 1px #EBEFFF solid;

      .button{
        color: #fff;
        background-color: #4A6BFF;
        border-color: #4A6BFF;
      }
    }

    .img{
      margin: 45px 0 31px 0;
    }

    .button{
      margin-top: 41px;
    }

  }

}